/* Copyright 2018 Liam Breck
//
// This file is part of the "mnm" software. Anyone may redistribute mnm and/or modify
// it under the terms of the GNU Lesser General Public License version 3, as published
// by the Free Software Foundation. See www.gnu.org/licenses/
// Mnm is distributed WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See said License for details.
*/

.firefox-minheight-fix { height: 0; }

body {
   background-color: #f0f8f5;
}

.message-list {
   background-color: #fff7cf;
}

.service-panel {
   background-color: #003333;
}

input[type=text] {
   font-family: Monaco, monospace;
   font-size: larger;
   box-sizing: border-box;
}

.btn-icon    { padding: 0; }
.btn-iconred { padding: 0; color: crimson; }
.btn-icontxt { padding: 0 4px; }
.btn-iconx   { padding: 0 4px; background: none; border: none; }

.btn-iconx:active:hover {
   background: silver;
}

.btn-floatr {
   display: inline-block;
   float: right;
}

.btn-alignt {
   display: inline-block;
   vertical-align: top;
}

.dropdown-icon {
   cursor: default;
}

.dropdown-scroll {
   padding: 1em;
   padding-right: 0;
}

.dropdown-scroll-item {
   padding-right: 1em;
}

.dropdown-scroll-list {
   overflow-y: scroll;
   max-height: 75vh;
   padding-right: 1em;
   margin: 0; /* override uk-list default */
}

.message {
   overflow-x: auto;
   overflow-wrap: break-word;
}

.message pre, .message code {
   white-space: pre-wrap;
   word-break: break-all;
}

.message img {
   max-width: 100%;
}

.pane-clip       { overflow-x: hidden; }
.pane-slider     { width:200%; position:relative; }
.pane-slider-rhs { right:100%; }
.pane-scroller   { width: 50%; max-height:40vh; overflow:auto; float:left; }

