/* Copyright 2018, 2019 Liam Breck
   Published at https://github.com/networkimprov/mnm-hammer

   This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/
*/

.firefox-minheight-fix { height: 0; }

table { border-spacing: 0; }

.uk-tab > li {
   padding: 0; /* todo create a nicer tab layout */
}
.uk-tab > li:first-child,
.uk-tab > li[style="display: none;"] + li {
   padding-left: 20px;
}
.uk-tab > li > a {
   cursor: default;
}

body {
   background-color: #f0f8f5;
}

.menu-bg {
   background-color: mintcream;
}

.message-bg {
   background-color: #fff7cf;
}

.message-edit {
   background-color: #ffffdc;
}

.thread-list {
   background-color: wheat;
   margin-left: -1em;
   padding-left: 1em;
}

.service-panel {
   background-color: #003333;
}

#app-quit {
   position: absolute;
   top:0; left:0; bottom:0; right:0;
   background-color: rgba(130, 130, 130, 0.2);
}
.app-alert {
   position: absolute;
   bottom:0; right:0;
   width: 20vw;
   border: 3px double #909090;
   padding: 1em;
   background-color: pink;
   color: black;
   text-align: center;
}

.vishide {
   visibility: hidden;
}
.overxhide {
   overflow-x: hidden;
}
.width100 {
   width: 100%;
}

input[type=text], textarea {
   font-family: Monaco, monospace;
   font-size: 82%;
   box-sizing: border-box;
}

.search-box {
   font-size: larger !important;
   color: #1e87f0;
}

.text-resize {
   resize: none;
   overflow-y: hidden;
}

.btn-icon {
   padding: 0;
}
.btn-iconred {
   padding: 0;
   color: crimson;
}
.btn-iconsym {
   padding: 0;
   font-size: inherit;
}
.btn-icontxt {
   padding: 0 4px;
}
.btn-iconx {
   padding: 0 4px;
   background: none;
   border: none;
}
.btn-iconx:active:hover {
   background: silver;
}
.btn-floatr {
   display: inline-block;
   float: right;
}
.btn-alignt {
   display: inline-block;
   vertical-align: top;
}

.dropdown-icon {
   cursor: default;
   position: relative; bottom: -2px;
}
.dropdown-scroll {
   min-width: unset; /* fix uk-dropdown */
   padding: 1em;
   padding-right: 0;
}
.dropdown-scroll-item {
   margin-right: 1em;
}
.dropdown-scroll-list {
   overflow-y: scroll;
   max-height: 75vh;
   padding-right: 1em;
   margin: 0; /* override uk-list default */
}
.dropdown-static {
   padding: 1em;
}

.thread-row {
   margin: 0 !important; /* override uk-grid */
   padding: 0.25em 0;
   cursor: pointer;
   overflow-x: hidden;
   white-space: pre;
   word-break: keep-all;
}
.thread-row-thread {
   background-color: wheat;
}
.thread-unread {
   font-weight: bold;
}

.cc-new {
   display: inline-block;
   margin-right: 0.5em;
   font-family: Monaco, monospace;
   font-size: 82%;
   color: black;
}

.tagset {
   z-index: 3;
   cursor: default;
}
.tagset > div > div > span {
   border: 1px solid lightgray;
   border-radius: 4px;
   background: white;
}

.message-title {
   cursor: pointer;
   display: inline-block;
   line-height: 2em;
   min-width: 50%;
}
.message-title-unread {
   font-weight: bold;
}

.message-list > ul {
   border-bottom: 4px double lightgray;
}
.message-list > ul > li {
   padding: 0 0.2em 0 0.5em;
}

.message {
   overflow-x: auto;
   overflow-wrap: break-word;
}
.message img {
   max-width: 100%;
}
.message pre, .message code {
   white-space: pre-wrap;
   word-break: break-all;
}
/* some of the following fix odd UIKit settings */
.message em, .message code,
.message h1, .message h2, .message h3, .message h4, .message h5, .message h6,
.message blockquote {
   color: inherit;
}
.message pre {
   background-color: inherit;
   border: none;
   padding: 0 2em;
}
.message blockquote {
   font-style: initial;
   font-size: inherit;
   margin-left: 1em;
   border-left: solid 2px;
   padding-left: 0.5em;
}
.message ul {
   list-style: initial;
   margin: 0 0 20px 0;
}
.message table {
   margin: 0 0 20px 1.5em;
}
.message th, .message td {
   padding: 0.1em 0.5em;
}

.draft-recip {
   font-family: Monaco, monospace;
   font-size: 82%;
}
.draft-minsubject {
   display: block;
   margin: 0 auto 0.2em;
   width: 7em;
   height: 0.6em;
   cursor: default;
}
.draft-preview {
   width: 40vw; /*todo match to messages panel width */
   max-height: 75vh;
   border-width: 1em 0;
   border-color: transparent;
   border-style: solid;
   padding: 0.5em 1em;
   overflow: auto;
}
.draft-preview > div:first-child {
   margin-bottom: 0.5em;
}

.vue-form-generator input:disabled {
   background-color: #ffffdc; /* from .message-edit */
   pointer-events: none;
}
.vue-form-generator label {
   font-style: inherit !important; /* fix disabled italics */
}

.paperclip {
   font-size: 120%;
   vertical-align: sub;
}
button > .paperclip {
   vertical-align: baseline;
   line-height: 1em;
}

.adrsbkinput {
   display: inline-block;
}
.adrsbkmenu {
   box-sizing: border-box;
   background-color: gainsboro;
   padding: 4px;
   z-index: 3;
}
.adrsbkmenu div,
.adrsbkmenu span {
   padding: 0 0.2em;
   white-space: pre;
   cursor: default;
}
.adrsbkmenu-none {
   text-align: center;
}
.adrsbkmenu-select {
   background-color: white;
}

.draftmenu {
   min-width: 4em;
   float: left;
   box-sizing: border-box;
   border-radius: 4px;
   padding: 0.25em 0.5em;
   cursor: default;
   background: lightgray;
   font-family: Monaco, monospace;
   font-size: 82%;
   color: black;
}
.draftmenu-sample {
   min-width: 0;
   float: none;
   border: 1px solid dimgray;
   line-height: 90%;
   display: inline-block;
}
.draftmenu-shown {
   border: 1px solid transparent;
   min-height: 100%;
   box-shadow: 0 5px 12px rgba(0,0,0,0.15);
   filter: brightness(105%);
}
.draftmenu-hiddn {
   border: 1px solid dimgray;
   height: 100%;
   overflow: hidden;
}
.draftmenu-x {
   float: right; margin-left:  0.50em;
   font-family: initial;
}
.draftmenu-v {
   float: right; margin-left: -0.75em;
   font-size: 80%;
   position: relative; bottom: -4px;
}
.draftmenu-hiddn .draftmenu-x { visibility: hidden; }
.draftmenu-shown .draftmenu-v { display: none; }

.pane-clip {
   overflow-x: hidden;
}
.pane-slider {
   position: relative;
   white-space: nowrap;
}
.pane-slider-rhs {
   right: 100%;
}
.pane-scroller {
   display: inline-block;
   vertical-align: top;
   box-sizing: border-box;
   width: 100%;
   max-height: 40vh;
   overflow-y: scroll;
   padding-right: 2px;
   white-space: initial;
}

.notice {
   padding-right: 0.5em;
}
.notice > li.notice-hasblurb {
   cursor: pointer;
}
.notice > li.notice-seen {
   margin: 0;
   padding-top: 10px;
   background-color: whitesmoke;
}
.notice > li:not(.notice-seen) + li.notice-seen,
.notice > li:first-child.notice-seen {
   border-top: 4px double lightgray;
   padding-top: 6px;
   margin-top: 10px;
}

.pingresponse {
   white-space: nowrap;
}

.svccfg tr td {
   vertical-align: top;
   padding: 0.5em 0;
}
.svccfg tr td:nth-child(2) {
   word-break: break-all;
}

.tour-heading {
   font-size: 120%;
   margin-bottom: 1em;
}
.tour-slide {
   white-space: nowrap;
}
.tour-slide > div:first-child {
   margin-bottom: 1em;
}
.tour-slide > div:first-child > img {
   display: block;
   margin: 0 auto;
}
.tour-slide > span {
   float: left;
   margin-top: 0.3em;
   padding: 2px;
}
.tour-slide > span:hover {
   border: 1px solid ;
   border-radius: 4px;
   padding: 1px;
}
.tour-slide > span + div {
   margin-left: 2em;
}
.tour-slide button {
   pointer-events: none;
}
.tour-inset {
   float: right;
   width: 40%;
}
.tour-inset > div {
   margin-top: -1.5em;
   margin-left: -1em;
   margin-bottom: 1em;
   font-size: 120%;
   font-style: italic;
}
